body {
  background-color: rgba(0, 0, 0, 0.2);
}

table {
  border-collapse: collapse; /* Removes the gap between table borders */
  width: 100%;
}

th, td {
  border: 1px solid black; /* Ensures borders are visible */
  padding: 10px; /* Adds padding for better spacing inside cells */
  text-align: left;
}

label {
  font-family: sans-serif;
  font-size: 22px;
}

input {
  font-family: sans-serif;
  font-size: 22px;
}
