body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}
.move-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 40px;
}
.move-icon {
  width: 50px;
}

.result {
  font-size: 25px;
  font-weight: bold;
}
.score {
  margin-top: 60px;
}
.reset-score-button {
  font-size: 15px;
  padding: 8px 15px;
  background-color: white;
  border: none;
  cursor: pointer;
}
